@charset "utf-8";
span{
  display: inline-block;
  background: lightcoral;
  padding: 8px;
  color: white;
  border-radius: 8px;
}

form{
  width: 90%;
  margin: 0 auto;
}

.form-area{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  border: 1px solid black;
}
.form-area dt{
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkslategray;
  color: #fff;
  padding: 30px 15px;
  margin-bottom: 2px;
}
.form-area dd{
  width: 70%;
  background-color: #fff;
  padding: 22px 15px 20px 15px;
  margin-bottom: 2px;
}
.form-area input{
  background-color: #f2f2f2;
  padding: 8px 10px;
  border: 1px dotted gray;
  margin: 0.5rem 0;
}
.flex-container{
  display: flex;
  justify-content: flex-start;
}
.flex-item{
  margin-right: 1rem;
}
.err-text{
  color: red;
}

.radio{
  margin-left: 1rem;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

/* form-items */
#name{
  width: 75%;
}
#description{
  width: 100%;
}
#width, #height, #depth{
  width: 30%;
}

.btn-area{
  margin: 0 auto;
  text-align: center;
}
#btn-submit{
  background: rgb(120, 120, 220);
  border: 2px solid blue;
  padding: 0.6rem 2rem;
  border-radius: 16px;
  transition: background 0.3s;
}
#btn-submit:hover{
  background: rgb(120, 200, 255);
  transition: background 0.3s;
}