@charset "utf-8";
main .flex-container{
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.detail{
  padding-left: 3rem;
}
.detail .description, .detail .price{
  margin-bottom: 2rem;
}
.detail .option{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.detail .option dt{
  width: 20%;
}
.detail .option dd{
  width: 70%;
}
.link-products{
  cursor: pointer;
  max-width: 50%;
  margin: 2rem auto;
  transition: opacity 0.5s;
  text-align: center;
}
.link-products:hover{
  opacity: 0.6;
  transition: opacity 0.5s;
}

@media screen and (max-width: 900px){
  main .flex-container{
    flex-direction: column;
    width: 100%;
    /* margin: 0 auto; */
  }
  .detail{
    padding-left: 0;
    padding-top: 2rem;
  }
}